<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.benchmark.orm.domain.user.mapper.ImageMapper">
    <!-- 이미지 등록 -->
    <insert id="insert" parameterType="com.benchmark.orm.domain.user.entity.Image">
        INSERT INTO image (url, alt_text)
        VALUES (#{url}, #{altText})
    </insert>

    <!-- 이미지 정보 수정 -->
    <update id="update" parameterType="com.benchmark.orm.domain.user.entity.Image">
        UPDATE image SET url = #{url}, alt_text = #{altText}
        WHERE id = #{id}
    </update>

    <!-- ID로 이미지 삭제 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM image WHERE id = #{id}
    </delete>

    <!-- ID로 이미지 조회 -->
    <select id="findById" parameterType="long" resultType="com.benchmark.orm.domain.user.entity.Image">
        SELECT * FROM image WHERE id = #{id}
    </select>

    <!-- 모든 이미지 조회 -->
    <select id="findAll" resultType="com.benchmark.orm.domain.user.entity.Image">
        SELECT * FROM image
    </select>

    <!-- 페이징된 이미지 조회 -->
    <select id="findAllWithPaging" resultType="com.benchmark.orm.domain.user.entity.Image">
        SELECT * FROM image LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 정렬된 이미지 조회 -->
    <select id="findAllWithSorting" resultType="com.benchmark.orm.domain.user.entity.Image">
        SELECT * FROM image ORDER BY ${sortColumn} ${sortDirection}
    </select>

    <!-- 페이징 및 정렬된 이미지 조회 -->
    <select id="findAllWithPagingAndSorting" resultType="com.benchmark.orm.domain.user.entity.Image">
        SELECT * FROM image ORDER BY ${sortColumn} ${sortDirection}
        LIMIT #{limit} OFFSET #{offset}
    </select>
</mapper>